.table-view {
    -fx-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #FFFFFF;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

.table-view .table-cell {
    -fx-text-fill: #0d47a1;
}

.table-view .table-column {
    -fx-alignment: center;
}

.table-row-cell:selected {
    -fx-background-color: #78bba1;
    -fx-table-cell-border-color: #78bba1;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.jfx-list-cell:selected {
    -fx-background-color: #1bd79c;
}

.jfx-list-cell {
    -fx-background-insets: 0.0;
}

.jfx-list-cell .jfx-rippler {
    -fx-rippler-fill: BLUE;
}

.jfx-list-view {
    -fx-background-insets: 0;
    -fx-cell-vertical-margin: 0;
    -fx-vertical-gap: 10px;
}

.jfx-button {
    -fx-background-color: #018786;
    -fx-text-fill: #ffffff;
}

.jfx-button:hover {
    -fx-cursor: HAND;
}

.jfx-button:selected {
    -fx-background-color: transparent;
}

.cancelBtn {
    -fx-background-color: #ffffff;
    -fx-text-fill: #018786;
}

.progress-bar .bar {
    -fx-background-color: #2196F3;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.4em;
}